fastapi==0.108.0
uvicorn==0.23.2
langchain==0.1.0
langchain-community==0.0.11
langchain_openai==0.0.2
pandas==1.5.2
openai==1.7.2
python-multipart==0.0.6
sqlalchemy==1.4.39
ruamel.yaml==0.17.32
colorlog==6.7.0
psycopg2-binary==2.9.9
BeautifulSoup4==4.12.2
html2text==2020.1.16
